	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Clojure/conj 2015" />
		<meta name="keywords" content="clojure clojurescript conference" />
                <meta name="twitter:card" content="summary" />
                <meta name="twitter:site" content="@clojure_conj" />
                <meta name="twitter:creator" content="@cognitect" />
                <meta name="og:url" content="{{ page.url }}" />
                <meta name="og:title" content="{{ page.title }}" />
                <meta name="og:description" content="Clojure/conj is a Clojure and ClojureScript conference for the eastern United States, including talks about features, libraries, tools, and usage." />
	        <meta name="og:image" content="http://clojure-conj.org/images/clojureconj.png" />
                <link rel="shortcut icon" href="images/favicon.png"/>
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
