<!DOCTYPE html>
<html>
	{% include head.html %}

	<body class="index loading">
		<div class="alt">
		{% include header.html %}
	</div>
		
		<!-- Banner -->		
			<section id="banner">
				
				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<header>
					  <h2>clojure / conj</h2>
					</header>
					<p>nov 16-18, 2015<br>
					  Philadelphia, Pennsylvania<br>
				  </p>
				  
					<footer>
						<img src="images/clojure.png" height="149" width="150" alt="Clojure"/>
						<br>
						<br>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
						</ul>
					</footer>
				
				</div>
				
			</section>
		
			<!-- Main -->
			<article id="main">
			
			<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					<h2>Join us for Clojure/conj</h2>
					<p>Join us in Philadelphia this year for Clojure/conj!<br>
					   We are currently seeking <a href="sponsorship">sponsors</a> and <a href="opportunity">opportunity grant applicants</a>!</p><br>
					<h2>About Clojure/conj</h2>
					<p>Clojure/conj is the original conference for Clojure and its community.  Founded in 2010, the conference is the premier place for developers from all around the world to gather and learn about what is happening with the language, in the community, and within organizations using Clojure. Clojure/conj couples a session track with in-depth workshops and learning opportunities, and offers a unique opportunity to mingle with other developers, contributors, and professionals during a dense three-day event.</p>
					<br>
					<p>This year's event will be held in Philadelphia, PA from November 16-18.  Last year's <a href="http://2014.clojure-conj.org">Conj</a>, in Washington D.C., was the first to crest 500 attendees. The Conj offers a great mix of experienced Clojurists and new adopters and everyone can find something to suit their need. Because of the growth of the community and the expanding attendance at Clojure/conj and <a href="http://clojurewest.org">Clojure/west</a>, we expanded to Europe in 2015 with <a href="http://euroclojure.org">EuroClojure</a>.</p>
					<p><a href="https://ti.to/cognitect/clojure-conj-2015">Tickets go on sale</a> September 1st at 3 PM Eastern. A limited number of early bird tickets will be available for $275 followed by regular tickets at $350. <a href="training">Additional training</a> will be available on Nov 14 and 15 prior to the conference: Intro to Clojure (2 days), Datomic Conf (1 day), and Property testing with test.check (2 hours).</p>

			</header>

<!--
				          <ul class="buttons">
					        <li><a href="speakers" class="button">list of speakers</a></li>
				          </ul>
-->
								
					</section>

					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
						  <h2><a id="location">location</a></h2>
						</header>
				
							<section>
								<a href="http://www.sheratonphiladelphiasocietyhill.com/" class="image"><img src="images/sheraton.jpg" alt="Gerding Theater" /></a>
								<header>
								  <h3>&nbsp;<br>sheraton society hill</h3>
								</header>
								<p>One Dock Street (2nd and Walnut Streets) <br>
								Philadelphia, PA 19106 </p>
								<p>A block of rooms is available at the conference hotel.<br/>
								King and Double rooms are $179/night until Fri, Oct 26th or until full.</p>
					<ul class="buttons">
					  <li><a href="https://www.starwoodmeeting.com/Book/ClojurePhilly2015" class="button special">book</a></li>
					</ul>
							</section>
							
					</section>
					
				<!-- Sponsors -->
					<section class="wrapper style3 container special">

							<section>
								<header>
								  <h2>silver sponsors</h2>
								</header>
							</section>
								
						<div class="row half">
							<div class="4u">								
								<section> 
									<a href="http://chariotsolutions.com/" class="logo"><img src="images/sponsors/chariot.png" alt="Chariot Solutions" width="220" title="Chariot Solutions" /></a>
								</section>														
							</div>							
							<div class="4u">								
								<section> 
									<a href="https://rjmetrics.com" class="logo"><img src="images/sponsors/rjmetrics.png" alt="RJMetrics" width="220" title="RJMetrics" /></a>
								</section>														
							</div>							
							<div class="4u">								
								<section> 
									<a href="https://farmlogs.com/" class="logo"><img src="images/sponsors/farmlogs.png" alt="FarmLogs" width="220" title="FarmLogs" /></a>
								</section>														
							</div>							
						</div>

						<br/>
							<section>
								<header>
								  <h2>supporting sponsors</h2>
								</header>
							</section>
								
						<div class="row half">
							<div class="6u">
								<section> 
									<a href="http://aptpath.com/" class="logo"><img src="images/sponsors/aptpath.png" alt="AptPath" width="220" title="AptPath" /></a>
								</section>
							</div>
							<div class="6u">
								<section> 
									<a href="http://www.yetanalytics.com/" class="logo"><img src="images/sponsors/yet.png" alt="Yet Analytics" height="140" title="Yet Analytics" /></a>
								</section>
							</div>
						</div>							

						<br/>
							<section>
								<header>
								  <h2>lanyard sponsor</h2>
								</header>
							</section>
								
						<div class="row half">
							<div class="12u">
								<section> 
									<a href="http://8thlight.com/" class="logo"><img src="images/sponsors/8thlight.jpg" alt="8th Light" width="220" title="8th Light" /></a>
								</section>
							</div>
						</div>

						<br/>
							<section>
								<header>
								  <h2>partners</h2>
								</header>
							</section>
								
						<div class="row half">
							<div class="6u">
								<section> 
									<a href="https://www.blacksintechnology.net/" class="logo"><img src="images/sponsors/bit.png" alt="Blacks in Technology" width="220" title="Blacks in Technology" /></a>
								</section>
							</div>
							<div class="6u">
								<section> 
									<a href="http://www.lambdaladies.com/" class="logo"><img src="images/sponsors/lambdaladies.png" alt="Lambda Ladies" width="96" title="Lambda Ladies" /></a>
								</section>
							</div>
						</div>
					</section>					
					
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header>
				  <h2>Ready to <strong>join us</strong>?</h2>
				</header>
				<footer>
					<ul class="buttons">
					  <li><a href="https://ti.to/cognitect/clojure-conj-2015" class="button special">register</a></li>
					  <li><a href="opportunity" class="button">opp grant</a></li>
					  <li><a href="sponsorship" class="button">sponsor</a></li>
					  <!--  <li><a href="https://cognitect.wufoo.com/forms/clojureconj-2015-call-for-presentations/" class="button">submit talk</a></li> -->
					</ul>
				</footer>
			
			</section>	
		
		{% include footer.html %}
	</body>
</html>
